body{
    background-image: url(./img/fondo.png);
    background-size: auto;
}

#calculadora{
    background-color: rgb(161, 127, 255);
    text-align: center;
    margin: 20% 20% 5% 35%;
    padding: 5px 30px 5px 30px;
    width: 400px;
}

input{
    margin-bottom: 5px;
    width: 150px;
    height: 50px;
    font-size: 45px;
    padding: 1px 1px;
}

.container > .row >.col{
    padding: 1px 1px;
    margin: 1px;
    border: none;
}

.botones{
    padding-top: 10px;
}

#respuesta{
    background-color: aliceblue;
    margin-top: 10px;
}

button:hover {
    animation-name: background-color;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
  }
@keyframes background-color{
  100%{
    background-color: #4791D0
  }
}